<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 목록</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h2>게시글 목록</h2>
<table>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  <tr th:each="board : ${boards}">
    <td th:text="${board.id}"></td>
    <td>
      <a th:href="@{/board/view(id=${board.id})}" th:text="${board.title}"></a>
    </td>
    <td th:text="${board.name}"></td>
    <td th:text="${#temporals.format(board.createdAt, 'yyyy-MM-dd')}"></td>
  </tr>
</table>

<div th:if="${boards.totalPages > 1}">
  <div class="pagination">
    <a th:each="i : ${#numbers.sequence(1, boards.totalPages)}"
       th:href="@{/board/list(page=${i})}"
       th:text="${i}"
       th:classappend="${i == boards.number + 1} ? 'active' : ''"></a>
  </div>
</div>

<a href="/board/writeform" class="new-post-link">새 글 작성</a>
</body>
</html>
